<header class="header">
    <div class="logo">
        <div class="logo-icon">
            <img src="{{ url_for('static', filename='img/logogob.png') }}" alt="imagen de logo" />
        </div>
         <div class="logo-icon">
            <img src="{{ url_for('static', filename='img/logodgeti.png') }}" alt="imagen de logo" />
        </div>
        <h2>
            Math
        </h2>
    </div>
    <div class="nav-actions">
        <a href="/" class="btn btn-secondary">Inicio</a>
    </div>

</header>